<a href="https://colab.research.google.com/github/G-Poornima/VAC-Linear-Regression-/blob/main/VAC_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import seaborn as sns
print("The libraries are loaded succesfully")

The libraries are loaded succesfully

In [ ]:
#loads and reads the csv file into a dataframe
#head function prints the first five rows of a dataframe
df=pd.read_csv("/student-mat.csv")
df.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

In [ ]:
df = df.select_dtypes('int64')
df = df[['famrel', 'studytime', 'failures', 'absences', 'G1', 'G2', 'G3']]
print(df.info())
predict = 'G3'
X = np.array(df.drop(predict, axis=1))
y = np.array(df[predict])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   famrel     395 non-null    int64
 1   studytime  395 non-null    int64
 2   failures   395 non-null    int64
 3   absences   395 non-null    int64
 4   G1         395 non-null    int64
 5   G2         395 non-null    int64
 6   G3         395 non-null    int64
dtypes: int64(7)
memory usage: 21.7 KB
None

#### Sklearn can only accept numerical values , hence for the sake of simplicity we extract the columns containing numerical values and predict using them.

In [ ]:
#splitting the dataset into test and training sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.8, random_state=42)

#model initiating and training
linear = LinearRegression()
linear.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
print("Accuracy of the model is ", linear.score(X_test,y_test)*100)

Accuracy of the model is  83.16968124174093